.tr{
    color:white;
  
  
    text-align: left;
    margin-left: 5.5%;
    margin-top: -41%;
    font-size: large;
}
.ddl{
    text-align: left;
   
   
}

.fwe{
   
    margin-right: 2%;
}
.mca{
    text-align: left;
    
}


